.item {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  width: 280px;
  height: 70px;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.itemWrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item p {
  margin: 0;
  height: 30px;
}

.button {
  width: 70px;
  background-color: rgb(224, 224, 224);
  color: black;
  border: 1px solid black;
  padding: 5px 5px;
  position: absolute;
  right: 5px;
  top: 18px;
}
